.imagen{
  background-image: url(../IMG-20230212-WA0004.jpg);
  margin:10px auto;
  border-radius:5px;
  border: 1px solid #999;
  padding:13px;
  width:200px;
  height:300px;
  background-size: 100% 100%;
  background-repeat:no-repeat;
  background-size: cover;
}
